@font-face {
    font-family: 'Soloist';
    src: url('Soloist.woff2') format('woff2'),
        url('Soloist.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

