@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Regular.woff2') format('woff2'),
        url('LabGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-MediumItalic.woff2') format('woff2'),
        url('LabGrotesque-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque Mono';
    src: url('LabGrotesqueMono-Bold.woff2') format('woff2'),
        url('LabGrotesqueMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-BoldItalic.woff2') format('woff2'),
        url('LabGrotesque-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-LightItalic.woff2') format('woff2'),
        url('LabGrotesque-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Thin.woff2') format('woff2'),
        url('LabGrotesque-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Light.woff2') format('woff2'),
        url('LabGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque Mono';
    src: url('LabGrotesqueMono.woff2') format('woff2'),
        url('LabGrotesqueMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Black.woff2') format('woff2'),
        url('LabGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-BlackItalic.woff2') format('woff2'),
        url('LabGrotesque-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Medium.woff2') format('woff2'),
        url('LabGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Italic.woff2') format('woff2'),
        url('LabGrotesque-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-Bold.woff2') format('woff2'),
        url('LabGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('LabGrotesque-ThinItalic.woff2') format('woff2'),
        url('LabGrotesque-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

