.alert {
  &-inner {
    /* body wrapper of the alert */
    background: #015480 !important;
    border: 1px solid rgba($primary, 1) !important;
    box-shadow: inset 0 0 50px rgba($primary, 0.4) !important;
    min-height: 0;
    align-items: center;
    border-radius: 0 !important;
  }
  &-title {
    /* title of the alert */
    color: white !important;
  }
  &-text {
    /* text describer of the alert */
    color: white !important;
  }
  &-input {
    /* the prompt input field */
  }
  &-buttons {
    /* button wrapper of the alert */
    &_ok {
      margin: 0 !important;
      background: none !important;
      color: white !important;
      display: flex;
      outline: none;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-family: $fontPrimary;
      border: 1px solid white;
      cursor: pointer;
      border-radius: 0 !important;
      @include transition(background filter);
      background: rgba($primaryDark, 1) !important;
    }
    &_cancel {
      margin: 0 !important;
      background: none !important;
      color: white !important;
      display: flex;
      outline: none;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-family: $fontPrimary;
      border: 1px solid white;
      cursor: pointer;
      border-radius: 0 !important;
      @include transition(background filter);
      background: rgba(white, 0.05) !important;
    }
  }
}
