.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: $primaryDark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 0 25px $primary;
  &-brand {
    padding: 0rem 1rem;
    h3 {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0.03rem;
    }
  }
  &-icons {
    height: 100%;
    display: flex;
    align-items: center;
    button {
      background: none;
      border: 0;
      height: 100%;
      width: 50px;
      outline: none;
      @include transition(background);
      cursor: pointer;
      &:hover {
        background: rgba(white, 0.2);
      }
    }
  }
}
