.form-control {
  display: flex;
  flex-flow: column;
  label {
    margin-bottom: 1rem;
  }
  position: relative;
  &__dropzone {
    border: 1px dashed rgba(white, 0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    @include transition(border background);
    &:hover {
      border: 1px dashed rgba(white, 0.2);
      background: rgba(white, 0.1);
    }
    &.dragging {
      border: 1px dashed rgba(white, 0.3);
      background: rgba(white, 0.15);
    }
  }
  .base_input {
    font-size: 1rem;
    background: none;
    color: white;
    border: none;
    outline: none;
    flex: 1 1 30%;
    padding: 0.8rem 1.5rem;
    border: 1.5px solid transparent;
  }
  &--select {
    select {
      padding-right: 3rem;
    }
  }
  &_fake {
    position: relative;
    display: flex;
    flex-flow: column;
    &.tags {
      display: flex;
      flex-flow: column wrap;

      gap: 0.5rem;
    }
    &--bg {
      position: absolute;
      border: 1px solid rgba(white, 0.1);
      @include transition(background border-color);
      height: 100%;
      width: 100%;
      border-radius: 0.25rem;
      top: 0;
      left: 0;
      background: rgba(white, 0.05);
      z-index: -1;
    }
  }
  &_input {
    border: 1px solid rgba(white, 0.1);
    outline: none;
    background: rgba(white, 0.05);
    padding: 0.8rem 1.5rem;
    color: white;
    font-family: $fontPrimary;
    font-size: 1rem;
    border-radius: 0.25rem;
    @include transition(background border-color);
    -webkit-appearance: none;
    width: 100%;
    &--wrapper {
      position: relative;
    }
    option {
      color: black;
    }
    &--icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
    }
    &:focus {
      background: rgba(white, 0.1);
      border-color: rgba(white, 0.2);
    }
  }

  &__error {
    padding: 1rem;
    font-size: 14px;
    font-weight: 600;
    color: $error;
    opacity: 0.5;
  }
  &.error {
    label {
      color: $error;
    }
    .form-control_input {
      background: rgba($error, 0.05);
      border-color: rgba($error, 0.1);
    }
    .form-control_fake--bg {
      background: rgba($error, 0.05);
      border-color: rgba($error, 0.1);
    }
  }
}

.tags {
  &-single {
    display: flex;
    padding: 0.25rem 0.5rem;
    align-items: center;
    justify-content: center;
    background: $primaryDark;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    @include transition(filter);
    &:hover {
      filter: brightness(1.5);
    }
  }
  &-inner {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 0.8rem 1.5rem;
    padding-bottom: 0;
    gap: 0.5rem;
  }

  &.error {
    .select {
      &__control {
        background: rgba($error, 0.025) !important;
        min-height: 46px !important;
        border-color: rgba(white, 0.05) !important;
        &--is-focused {
          box-shadow: 0 0 1px rgba(white, 1) !important;
          border: 1px solid rgba(white, 0.05) !important;
        }
        &--menu-is-open {
          box-shadow: 0 0 1px rgba(white, 1) !important;
          border: 1px solid rgba(white, 0.05) !important;

          background: rgba(white, 0.05) !important;
        }
      }
      &__multi {
        &-value {
          &__label {
            font-family: $fontPrimary;
          }
          &__remove {
            cursor: pointer;
            svg {
              color: black;
            }
            &:hover {
              background: $error !important;
              svg {
                color: white;
              }
            }
          }
        }
      }
      &__menu {
        background: rgba(white, 0.15) !important;
        border: 1px solid rgba(white, 0.1) !important;
        backdrop-filter: blur(10px);
        &-notice {
          color: white !important;
        }
      }
      &__option {
        cursor: pointer;

        &--is-focused {
          background: rgba(white, 0.15) !important;
        }
      }
    }
  }
}

.select {
  &__control {
    min-width: 160px;
    background: rgba(white, 0.05) !important;
    min-height: 46px !important;
    border-color: rgba(white, 0.05) !important;
    &--is-focused {
      background: rgba(white, 0.1) !important;

      box-shadow: 0 0 0 rgba(white, 1) !important;
      border: 1px solid rgba(white, 0.05) !important;
    }
    &--menu-is-open {
      box-shadow: 0 0 0 rgba(white, 1) !important;
      border: 1px solid rgba(white, 0.05) !important;

      background: rgba(white, 0.1) !important;
    }
  }
  &__single {
    &-value {
      color: white !important;
    }
  }
  &__multi {
    &-value {
      &__label {
        font-family: $fontPrimary;
      }
      &__remove {
        cursor: pointer;
        svg {
          color: black;
        }
        &:hover {
          background: $error !important;
          svg {
            color: white;
          }
        }
      }
    }
  }
  &__menu {
    background: rgba(white, 0.15) !important;
    border: 1px solid rgba(white, 0.1) !important;
    backdrop-filter: blur(10px);
    &-notice {
      color: white !important;
    }
  }
  &__option {
    cursor: pointer;

    &--is-focused {
      background: rgba(white, 0.15) !important;
    }
  }
}
