$ultraDark: #111a20;
$dark: #1d2b34;
$primary: #56d5ff;
$primaryDark: #0976c9;
$error: #ff5689;
$success: #56ffd5;
$fontPrimary: "Lab Grotesque";
$fontSecondary: "Soloist";
@mixin transition(
  $prop,
  $time: 0.5s,
  $easing: cubic-bezier(0.14, 0.44, 0.13, 1.05),
  $delay: 0s
) {
  $transition: ();

  @for $i from 1 through length($prop) {
    @for $j from 0 to (length($prop)) - (length($time)) {
      $time: join($time, nth($time, -1));
    }
    @for $j from 0 to (length($prop)) - (length($easing)) {
      $easing: join($easing, nth($easing, -1));
    }
    @for $j from 0 to (length($prop)) - (length($delay)) {
      $delay: join($delay, nth($delay, -1));
    }

    $transition: append(
      $transition,
      (nth($prop, $i) nth($time, $i) nth($easing, $i) nth($delay, $i)),
      $separator: comma
    );
  }
  transition: $transition;
}
